{% extends 'core/base.html' %}
{% load static %}
{% block pageTitle %} Home {% endblock %}

{% block content %}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{% static 'core/img/product-2.jpg' %}" alt="">
                    </div>
                    <h2><a href="">{{ product.title }}</a></h2>
                    <div class="product-carousel-price">
                        <ins>${{ product.price }}</ins>
                        {% if product.old_price %}
                        <del>${{ product.old_price }}</del>
                        {% endif %}
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" rel="nofollow" href="add_to_wishlist?id={{ product.id }}">Add to wishlist</a>
                    </div>
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" rel="nofollow" href="add_to_cart?id={{ product.id }}">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}